* {
    box-sizing: border-box;
}

body {


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;

    width: 90vw;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: .7em 1em;
    /* padding-inline-end: 0; */

}

td span {

    /* padding-inline-start: 1em; */
    margin-inline-end: .3em;
    padding: .1em .3em
}

td span:nth-child(1) {
    background-color: rgb(89, 168, 236);
    border-radius: 5px;
    font-weight: bold;
}

td span:nth-child(2) {
    background-color: rgb(236, 219, 89);
    border-radius: 5px;
    font-weight: bold;
}

td span:nth-child(3) {
    background-color: rgb(236, 155, 89);
    border-radius: 5px;
    font-weight: bold;
}

thead {
    background-color: rgb(132, 143, 155);
}

tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}



img {
    width: 200px;
}

.details-modal button {

    position: absolute;
    top: 10px;
    left: 10px;

}