* {
    box-sizing: border-box;
}

:root {
    --color1: rgb(27, 33, 28);
    --color2: rgb(229, 255, 229);
    --color3: rgb(59, 139, 94);
    --color4: rgba(107, 161, 107, 0.886);
    --textcolor: rgb(213, 245, 179)
}

body {
    background-color: rgb(225, 255, 225);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;

    position: fixed;
    inset: 0 0 auto 0;

    padding: 1.2em 0.5em;
    background-color: var(--color1);
    height: 30px;

    color: white;

}

header>h2 {
    padding-inline-start: 0.2em;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* place-content: center; */
    align-items: center;


    margin: 100px auto;


}

input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    width: 160px;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
}

.table-container {

    border-radius: 3px;
    border: 9px solid var(--color4);
    box-shadow: 0px 0px 5px 0px #00000091;
    /* border-collapse: collapse; */
    text-align: left;
    margin: 20px;
    width: min(70vw, 620px);
    min-width: 620px;

}

th,
td {

    border: 1px solid rgb(160 160 160);
    padding: .7em 1em;
    /* padding-inline-end: 0; */

}

td span {

    /* padding-inline-start: 1em; */
    margin-inline-end: .3em;
    padding: .1em .3em
}

td span:nth-child(1) {
    background-color: var(--color3);
    border-radius: 5px;
    font-weight: bold;
    color: var(--textcolor)
}

td span:nth-child(2) {
    background-color: var(--color3);
    border-radius: 5px;
    font-weight: bold;
    color: var(--textcolor)
}

td span:nth-child(3) {
    background-color: var(--color3);
    border-radius: 5px;
    font-weight: bold;
    color: var(--textcolor)
}

thead {
    background-color: var(--color3);
}

tbody tr:nth-child(odd) {
    background-color: var(--color4);
}

tbody tr:nth-child(even) {
    background-color: var(--color2);
}



img {
    width: 200px;
}

.details-modal>button {

    position: absolute;
    top: 10px;
    left: 10px;

}

.hide {
    display: none;
}

.modal {
    position: absolute;

    padding: .6em 1em;
    border: 1px grey solid;
    background-color: aliceblue;
    height: 40px;

    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    inset: auto 0 0 0;
    padding: 1em;
    background-color: var(--color1);
    color: white;
    height: 50px;
}

footer div:nth-child(1) {
    padding-left: 8em
}

footer div:nth-child(3) {
    padding-right: 8em;
}

footer div span {
    font-weight: bold;
}

.button,
button {
    cursor: pointer;
}

main>button {
    border-radius: 7px;
}

.empty-table {
    text-align: center;
}

.cards-container {
    display: flex;

    justify-content: start;
    align-content: start;
    flex-wrap: wrap;
    overflow: auto;

    margin: 50px;
    gap: 10px;
    width: 90vw;
    /* height: 60vh; */
}

.cards-container>div {

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;

    background-color: var(--color4);
    width: 210px;
    height: max-content;
}

.cards-container img {
    /* align-self: center; */

    width: 70%;
    margin-block-end: 1em;

}

.cards-container .button {
    background-color: var(--color3);
    border-radius: 5px;
    font-weight: bold;
    color: var(--textcolor);
    margin: 0.2em;
    padding: 0.1em;
}

.cards-view,
.table-view {
    background-color: var(--color2);
    color: var(--color1);

    border-radius: 5px;
}

.table-view {
    margin-left: 0.12em;
}

.nav-group {

    display: flex;
    gap: 10px;
}

.cards-container .title {
    font-weight: bold;
    margin-block-end: 1em;
}

.cards-container .price {
    margin-block-end: 1em;
}

/* .sort-by {
    display: flex;
} */

.pages {
    position: absolute;
    bottom: 60px;
}

.paging {
    display: flex;
}